.notifications {
    width: 100%;
    height: 100%;

    padding-bottom: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    overflow-y: scroll;
}

.notifications__box {
    width: 70%;

    margin-top: 1rem;
    padding: 1rem;
}

.notifications__sys {
    color: red;
    border: 2px solid red;
}

.notifications__sys span {
    font-weight: bold;
}

.notifications__dashboard {
    display: inline-grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(auto-fill, minmax(40rem, 1fr));
    gap: 2rem;

    padding: 0;
}

@media only screen and (max-width: 1000px) {
    .notifications {
        overflow-y: scroll;
        overflow-x: hidden;
    }

    .notifications__dashboard {
        grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
        justify-items: center;
        align-items: center;
    }

    .notifications__box {
        width: 90%;
        margin-top: 1rem;
    }
}